/* register variables on the top level root html element */
:root {
	--line-height: 1.6;
	--font-size: 17px;
	--font-family: "Montserrat", sans-serif;
	--s: 0.5rem;
	--s-container: 70rem;
	--c-bg: darkgray;
	--c-fg: black;
	--c-link:darkmagenta;
	--c-theme: coral;
}

/* universal box-sizing for easier box-model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* root elements */
html {
	color: var(--c-fg);
	background-color: var(--c-bg);
	line-height: var(--line-height);
	font-size: var(--font-size);
	font-family: var(--font-family);
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	display: flex;
	flex-direction: column;
	align-items: center;
}
body {
	max-width: var(--s-container);
	padding: var(--s);
	margin: 0;
	width: 100%;
}

/* html elements defaults */
a {
	color: var(--c-link);
	text-decoration: none;
}

:is(h1, h2, h3, h4, h5, h6) {
		/* links inside titles have the color of the text */
		:is(a) {
				color: var(--c-text);
		}
}

/* principal layout elements of the page */
body > header menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	:is(a) {
		padding: var(--s);
	}
}

ul,
ol {
	padding: calc(var(--s) * 4);
	background-color: var(--c-theme);
}
