:root {
		--font-size: 17px;
		--c-bg: lavender;
		--c-fg: black;
		--c-link:black;
		--s: 0.5rem;
		--s-container: 75rem;
}
html {
	color: var(--c-fg);
	background-color: var(--c-bg);
	font-size: var(--font-size);
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	max-width: var(--s-container);
	margin: 0;
	padding: var(--s);
}

a {
	color: var(--c-link);
}
