/* register variables on the top level root html element */
:root {
	--line-height: 1.6;
	--font-size: 17px;
	--font-family: "Montserrat", sans-serif;
	--s: 0.5rem;
	--s-container: 70rem;
	--s-font: 1rem;
	--s-font-s1: 0.8rem;
	--s-font-h1: 1.8rem;
	--s-font-h2: 1.6rem;
	--s-font-h3: 1.4rem;
	--s-font-h4: 1.2rem;
	--s-font-h5: var(--s-font);
	--s-font-h6: var(--s-font);
	--c-bg: darkgray;
	--c-fg: black;
	--c-link:darkmagenta;
	--c-theme: coral;
}

/* universal box-sizing for easier box-model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* root elements */
html {
	color: var(--c-fg);
	background-color: var(--c-bg);
	line-height: var(--line-height);
	font-size: var(--font-size);
	font-family: var(--font-family);
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	display: flex;
	flex-direction: column;
	align-items: center;
}
body {
	max-width: var(--s-container);
	padding: var(--s);
	margin: 0;
	width: 100%;
}

/* html elements defaults */
a {
	color: var(--c-link);
	text-decoration: none;
}
a[href^="http://"]::after,
a[href^="https://"]::after {
	content: "➶";
	vertical-align: super;
	font-size: var(--s-font-s1);
}

small {
	font-size: var(--s-font-s1);
}

/* links inside titles have the color of the text */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: var(--c-text);
	text-decoration: underline;
}
h1 {
		font-size: var(--s-font-h1);
}
h2 {
		font-size: var(--s-font-h2);
}
h3 {
		font-size: var(--s-font-h3);
}
h4 {
		font-size: var(--s-font-h4);
}
h5 {
		font-size: var(--s-font-h5);
}
h6 {
		font-size: var(--s-font-h6);
}

/* principal layout elements of the page */
body > header h1 {
	margin: 0;
}
body > header menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}
body > header menu a {
	padding: var(--s);
}

ul,
ol {
	padding: calc(var(--s) * 4);
	background-color: var(--c-theme);
}
